/* Font style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0%;
}

/*---------------------
     Header Section 
---------------------*/

nav{
    position: fixed;
    top: 0;
    width: 100%;
}
.container-nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #0a0a0a;
    padding: 1% 0% 1% 0%;
}
.nav-item{
    align-items: center;
}
.nav-item a{
    align-items: center;
    text-decoration: none;
    color: white;
}
.nav-item img{
    width: 30px;
}
.navbar-brand{
    margin-left: 50px;
}
.nav-link{
    margin-right: 25px;
    font-size: 20px;
}
.nav-link:hover{
    color: orange;
}
.form-control{
    background-color: #06fcd3;
    border: none;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
}
.btn{
    background-color: #06fcd3;
    border: none;
    border-color: white;
    border-radius: 20px;
    padding: 3px 8px 3px 8px;
}
.btn:hover{
    background-color: yellow;
    color: red;
}
.button{
    background-color: #f3cf05;
    font-weight: 700;
    padding: 0px 13px;
    border: none;
    border-radius: 10px;
}

/*------------------------
    Main Section Start
------------------------*/

/* All Section */

.heading{
    border-radius: 12px;
    text-align: center;
    color: orange;
    background-color: green;
    padding: 10px;
}
.container{
    margin: 5% 2% 0% 4%;
}
.item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
article img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.detaile{
    border-radius: 15px;
    box-shadow: 10px 10px 20px gray;
}
.buy-btn{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 8px;
    margin: 10px 0px 20px;
    padding: 5px;
}
.info{
    padding: 10px;
}

/* Last Section */

.about-us{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    background-color: orange;
    margin-top: 10%;
    padding: 8%;
    border-radius: 20px;
}
.subscrib-img{
    width: 50%;
}
#Email-in{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color:#06fcd3 ;
}

.button-sub{
    background-color: #06fcd3;
    font-weight: 700;
    margin-top: 5px;
    padding: 4px 8px;
    border: none;
    border-radius: 10px;
}

/* Footer Section */

.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 2px;
    margin: 6% 0% 0% 0%;
}
.support a{
    text-decoration: none;
    color: white;
}
.copy-right{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 25px 8px 20px 8px;
}
.shop-title a{
    text-decoration: none;
    color: #c0b9b9;
}
#socal-icon{
    margin-right: 10px;
}